body, html {
  margin: 0;
  background-image: url(https://secure.i.telegraph.co.uk/multimedia/archive/03249/BEAUTIFUL-FACES_3249636b.jpg);
  background-size: 100%;
}

html {
  height: 100%;
}

body {
  height: 90%;
  max-width: 800px;
  margin: 0 auto;
  opacity: 0.8;
}

h1, p {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: beige;
  padding: 20px;

  text-shadow: 0px 0px 3px #eee, 5px 5px 2px rgb(64, 20, 94), -5px -2px 2px mix(black,red,50);
  font-weight: 400;
}

h1 {
  margin-top: 30px; 
  color: purple;
  font-weight: bold;
}

.txt, select, form > div {
  display: block;
  margin: 0 auto;
  font-family: Oswald;
  font-size: 16px;
  padding: 5px;
  background-color: grey;
}

.txt {
  width: 80%;
}

select {
  width: 83%;
}

form > div {
  width: 81%;
}

.txt, form > div {
  margin-bottom: 10px;
  overflow: auto;
}

.clearfix {
  clear: both;
}

label {
  float: left;
  width: 10%;
  line-height: 1.5;
  font-weight: bold;
}

.rate-value, .pitch-value {
  float: right;
  width: 5%;
  line-height: 1.5;
}

#rate, #pitch {
  float: right;
  width: 81%;
}

.controls {
  text-align: center;
  margin-top: 10px;
}

.controls button {
  padding: 10px;
}
